/*Global variables*/
$theme-blue: #007EA7;
$theme-sky: #30BCED;
$theme-navy: #003459;
$theme-orange: #F9A03F;
$dark-grey: #708090;
$light-grey: #DCDCDC;
$body-font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
$primary-font: 'Montserrat', $body-font;
$xs: 545px;
$sm: 769px;
$md: 993px;
$lg: 1201px;
$cofounders: adonis alex angeline ashwin chris jacob max ronald ryan shania thomas;
