@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic|Roboto');
html, body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
h1, h2 {
  font-family: "Carrois Gothic", Arial, sans-serif;
  color: #3A687F;
}
div {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.header {
  width: 100%;
  height: 100vh;
  text-align: center;
}
#welcome {
  background: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .75)), url("pictures/code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
@media screen and (min-width: 760px) {
  #welcome, #bio1, #bio2, #bio3, #bio4 {
    background-attachment: fixed;
  }
}
.navbar {
  width: 100%;
  min-height: 55px;
  background-color: transparent;
  color: #C9A956;
  font-family: "Carrois Gothic", Arial, sans-serif;
  font-size: 20px;
}
.navbar ul {
  display: inline-block;
  margin: 12.5px;
  padding-left: 0px;
}
.navbar li {
  display: inline;
  list-style-type: none;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.navbar a {
  text-decoration: none;
  color: #8eaebd;
}
.navbar li > a:hover {
  text-decoration: underline;
}
body > .navbar {
  text-align: center;
}
.body .navbar {
  text-align: right;
}
.fixed-top {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
}
.fixed-bottom {
  position: relative;
  top: 55px;
  bottom: 0;
}
.align-left {
  float: left;
  margin: 12.5px;
}
.fa-bars {
  font-size: 35px;
  margin: 5px;
}
@media screen and (min-width: 760px){
  .toggle-collapse {
    display: none;
  }
}
@media screen and (max-width: 760px){
  #collapse {
    box-shadow: 1px 1px 2px grey;
    text-align: center;
    display: none;
  }
}
.header h1 {
  margin-top: 15vh;
  margin-bottom: 10vh;
  font-size: 2.5em;
  color: #fff;
}
.header h2 {
  font-size: 1.75em;
  color: #fff;
}
.fa-arrow-circle-down {
  color: #fff;
  font-size: 1.75em;
}
@media screen and (min-width: 760px) {
  .header h1 {
    font-size: 5em;
  }
  .header h2 {
    font-size: 2.5em;
  }
}
.content {
  width: 100%;
  top: 55px;
  color: #000;
  font-size: 14pt;
}
.body {
  width: 100%;
  text-align: center;
}
.normal, .alternate {
  width: 90%;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 1.5;
  text-align: left;
}
.normal {
  background-color: white;
}
.alternate {
  background-color: #f6f6f6;
}
.body > .content > div > a {
  display: block;
  height: 55px;
  margin-top: -55px;
  visibility: hidden;
}
#toProject {
  display: inline-block;
  padding: 1.5%;
}
#toProject > a {
  text-decoration: none;
  color: #8eaebd;
}
.bio {
  width: 90%;
  margin: auto;
  text-align: left;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 16pt;
  font-family: 'Carrois Gothic';
  color: #eee;
  letter-spacing: 0.05em;
  line-height: 25pt;
}
#bio1 {
  background: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .75)), url("pictures/arch.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#bio2 {
  background: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .75)), url("pictures/stanford.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#bio3 {
  background: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .75)), url("pictures/lake.JPG");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#bio4 {
  background: linear-gradient(rgba(0,0,0, .75), rgba(0,0,0, .75)), url("pictures/school.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap {
  width: 100vw;
  max-width: 100vw;
}
