@import url('https://fonts.googleapis.com/css?family=Hind:300|Lora|Montserrat');
html, body {
  font-family: 'Hind', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0px;
  padding: 0px;
}
div {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: block;
}
/*Navigation*/
#menu {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  color: #203157;
  padding: 10px;
  font-size: 1.5em;
}
@media screen and (min-width: 760px) {
  #menu {
    font-size: 2em;
  }
}
#menu-collapse {
  margin: none;
  padding: none;
  display: none;
  z-index: 2;
  background-color: #F0EEEE;
}
nav > ul {
  margin: none;
  padding: none;
  list-style-type: none;
}
.navbar ul > li {
  display: inline-block;
  padding: 20px;
}
.navbar ul > li > a {
  color: #A47045;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}
#welcome {
  background-image:  linear-gradient(rgba(20,40,60,.5), rgba(20,40,60,.5)), url('lake.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #FFFFFF;
}
.fullpage {
  height: 100vh;
  width: 100%;
  text-align: center;
}
.alternate {
  background-color: #F0EEEE;
}
.content {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
#title {
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-size: 2.25em;
  margin: 0px;
  padding-top: 30vh;
  padding-bottom: 1vh;
}
#subtitle {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0px;
  padding-top: 1vh;
  padding-bottom: 20vh;
}
@media screen and (min-width: 760px) {
  #title {
    font-size: 5em;
    padding-top: 20vh;
  }
  #subtitle {
    font-size: 2.5em;
  }
}
h1 {
  color: #0F1D3E;
  font-family: 'Lora';
  font-size: 1.75em;
  font-weight: normal;
}
hr {
  border-color: #A47045;
  width: 40%;
}
p {
  font-family: 'Hind';
}
button {
  background-color: #203157;
  border-color: #203157;
  border-style: solid;
  color: #eee;
  font-family: 'Lora';
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
