$theme-blue: #1143B6;
$theme-orange: #FFAA00;
$theme-navy: #082568;
$theme-sky: #62AAFA;
$primary-font: 'Montserrat';
$secondary-font: 'Libre Franklin';
$alternate-bg-color: #F0E9DA;
$phone:/* ~320px (portrait width) && ~480px (landscape width) */ 480px;
$tablet:/* ~760px (portrait width) && ~1024px (landscape width) */ 760px;
$laptop:/* Minimum width */ 1025px;
