#welcome {
  @include browser-compatible(background, linear-gradient(-45deg, $theme-orange, $theme-blue));
  @extend %fill-window;
  h1 {
    font-size: 15vw;
    color: white;
    margin: 0px;
    text-align: center;
    padding-top: 40vh;
  }
}
@media screen and (min-width: $md) and (min-aspect-ratio: 1/1) {
  #welcome {
    h1 {
      font-size: 7.5vw;
    }
  }
}
